<div class="w-full h-screen flex justify-center items-center bg-black">
    <div class="bg-blue-500 text-center text-white" data-aos="fade-down">
        <p class="text-xs">Hello, I am</p>
        <h1 class="font-berkshire my-4 text-3xl xl:text-6xl 2xl:text-7xl">Muhammad Zainuddin Basyar</h1>
        <p class="text-sm mx-20">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="mt-6">
            <button class="px-6 py-2 border text-xs uppercase hover:bg-white hover:text-black duration-300">Checkout my cv</button>
        </div>
    </div>
</div>